body{
    background-color: chocolate;
}

button{
    color:white;
    background-color: blue;
}

button:hover{
    background-color: green;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:yellow;
}