{% extends 'base.html' %}

{% block title %}Items - Restaurant {% endblock %}

{% block content %}
<div class="row g-2">
    {% for category in categories %}
    <div class="col-lg-4 col-sm-12">
        <div class="card" style="width: 18rem;">
            <img src="{{category.strCategoryThumb}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5>ID : {{category.idCategory}}</h5>
            <h5 class="card-title">{{category.strCategory}}</h5>
            <p class="card-text">{{category.strCategoryDescription | truncatewords:10}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br> <br>

{% endblock %}